<h1>About wikindle.org</h1>

<p>
wikindle.org is a quick hack to make reading and navigating <a href="http://en.wikipedia.org/">Wikipedia</a> on a
<a href="http://en.wikipedia.org/wiki/Amazon_Kindle">Kindle</a> more comfortable.
</p>

<h2>Limitations</h2>

<ul>
  <li>only English Wikipedia is available for now</li>
  <li>some wide content is cut off to make the browser zoom in fully; you can always reach the original article from the end of the page</li>
</ul>

<h2>Author</h2>

<p>This site is independent from <a href="http://wikipedia.org">Wikipedia</a> or <a href="http://wikimediafoundation.org">Wikimedia Foundation</a>.</p>
<p>It is developed and maintained by <a href="http://levente.bagi.name">Levente Bagi</a></p>

<h2>Licensing</h2>

<p>The lincensing terms of the original Wikipedia article should be consulted. A link to the original article is found at the bottom of each page.</p>

<h2>Tech &amp; Contributing</h2>

<p>The application was written in <a href="http://www.sinatrarb.com">Sinatra</a>, hosted on <a href="http://heroku.com">Heroku</a>.</p>
<p>The <a href="https://github.com/bagilevi/wikindle">source code</a> is available on GitHub, to contribute, fork that project and submit a pull request.</p>

