<html>
  <head>
    <title><%= @title %></title>
    <style type="text/css">
      body { font-family: serif; font-size: 120% }
      body { width: 600px }
    </style>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;"/>
  </head>
  <body>
    <%= @content %>
  </body>
</html>


