<html>
  <head>
    <title><%= @title %></title>
    <style type="text/css">
      body { font-family: serif; font-size: 120% }
      body { width: 600px }
    </style>
  </head>
  <body>
    <%= @content %>
  </body>
</html>


