#help-page
  %h1
    Help

  %h2
    Shortcuts

  %table
    %tr
      %th t
      %td top
      %td jump to the top of the page
    %tr
      %th e
      %td end
      %td jump to the end of the page
    %tr
      %th n
      %td navigation
      %td jump to the navigation links (bottom)
    %tr
      %th s
      %td search
      %td jump to and focus the search box
    %tr
      %th f
      %td feedback
      %td go to the feedback page to enter a bug report or a suggestion
    %tr
      %th h
      %td help
      %td go to the help page

  %h2
    Font size

  %p
    You can adjust the font size on
    %a{ :href => '/settings' } the Settings page.
