<h1>wikindle.org</h1>

<p><a href="http://en.wikipedia.org/">Wikipedia</a> articles optimized for <a href="http://en.wikipedia.org/wiki/Amazon_Kindle">Kindle</a></p>

<p><a href="/about">About wikindle.org</a></p>

<%= haml :"partials/search" %>
